.container {
  text-align: center;
}

.nav {
  margin-top: 20px;
}

.catbut {
  margin: auto 10px;
}

li {
  list-style-type: none;
}

.post {
  width: 350px;
  margin: 10px;
}

.panel-body {
padding: 5px;
}

.post-container {
  padding: auto;
}

.postbtn {
  width: 75px;
  margin: auto 5px;
}

.vote {
  margin: auto 10px;
}

.comment {
  margin: 10px auto;
  padding: 5px;
}