.container {
  text-align: center;
}

.nav {
  margin: 20px auto;
}

.header {
margin: 0 auto;
}

.catbut {
  margin: auto 5px;
}

li {
  list-style-type: none;
}

.post {
  width: 350px;
  margin: 10px;
}

.panel-body {
padding: 5px;
}

.post-container {
  padding: auto;
}

.postbtn {
  width: 75px;
  margin: 0 5px 10px 5px;
}

.postlist {
  display: flex;
  flex-direction: row;
}

.vote {
  margin: auto 10px;
}

.comment {
  margin: 10px auto;
  padding: 5px;
}